ul {
    li {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2px 0;
    }
}
.total {
    padding: 8px 0 !important;
    margin: 16px 0;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}