<h2>Step 1: Choose your Model and color</h2>
<form>
    <label for="modelSelect">Model:</label>
    <select id="modelSelect" (change)="onModelSelect($event)" [(ngModel)]="selectedModel" [ngModelOptions]="{standalone: true}">
        <option disabled>Choose...</option>
        <option *ngFor="let model of models" [attr.value]="model.code" [selected]="selectedModel === model.code">{{ model.description }}</option>
    </select>
    <ng-container *ngIf="selectedModel && selectedModel !== 'Choose...'">
        <label for="colorSelect">Color:</label>
        <select id="colorSelect" (change)="onColorSelect($event)" [(ngModel)]="selectedColor" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let color of colors" [attr.value]="color.code" [selected]="selectedColor === color.code">{{ color.description }}</option>
        </select>
    </ng-container>
</form>
